/* Common styles for all screen sizes */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oswald, sans-serif;
  background-color: #f0f0f0;
  background-image: url('images/austin_background.jpg');
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #333;
  font-weight: bold;
  transform: skewY(-5deg);
  margin: 10px 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: #333;
  margin-bottom: 10px;
  animation: bounce 1s infinite;
}

.bucket-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #333;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

#new-item {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 20px;
}

#add-button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.delete-button {
  width: 12%;
  padding: 5px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#items-list {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  max-height: 345px;
  overflow-y: auto;
}

#items-list::-webkit-scrollbar {
  width: 10px;
}

#items-list::-webkit-scrollbar-thumb {
  background-color: #555;
}

#items-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#items-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#items-list li:last-child {
  border-bottom: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.completed-checkbox {
  margin-right: -300px;
}

/* Custom Checkbox Styles */
.completed-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #3cb371; /* Green color */
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.completed-checkbox:checked {
  background-color: #3cb371; /* Green color when checked */
}

.completed-checkbox:checked::before {
  content: "\2714"; /* Unicode checkmark symbol */
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for mobile devices (max-width: 767px) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    margin-top: 40px; /* Adjust the spacing from the top */
  }

  h2 {
    font-size: 28px;
    margin-top: 20px; /* Adjust the spacing from the top */
  }

  .bucket-list {
    max-width: 90%; /* Adjust the width for mobile devices */
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #333;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #new-item {
    width: 100%; /* Adjust the width for mobile devices */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 18px; /* Adjust the font size for mobile devices */
  }

  #add-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px; /* Adjust the font size for mobile devices */
    cursor: pointer;
  }
}
