body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oswald, sans-serif;
  background-color: #f0f0f0;
  background-image: url('images/austin_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 110px; /* Increase font size for larger header */
  color: #333;
  font-weight: bold;
  transform: skewY(-5deg);
  margin: 30px 0; /* Add more margin to push it down on the page */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 95px; /* Increase font size for larger subheader */
  color: #333;
  margin-bottom: 20px; /* Add more margin to push it down on the page */
  animation: bounce 1s infinite;
}

.bucket-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px; /* Increase padding for larger text box */
  border: 5px solid #333;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

#new-item {
  width: 90.5%; 
  padding: 25px; /* Increase padding for larger text box */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 20px;
}

#add-button {
  width: 100%;
  padding: 25px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.delete-button {
  width: 45px;
  padding: 5px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 35px;
  cursor: pointer;
}

#items-list {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  max-height: 345px; 
  overflow-y: auto; 
}

#items-list::-webkit-scrollbar {
  width: 10px;
}

#items-list::-webkit-scrollbar-thumb {
  background-color: #555;
}

#items-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#items-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#items-list li:last-child {
  border-bottom: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.completed-checkbox {
  margin-right: 8px; /* Add some space between checkbox and text */
}

/* Custom Checkbox Styles */
.completed-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 45px;
  height: 45px;
  border: 2px solid #3cb371; /* Green color */
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.completed-checkbox:checked {
  background-color: #3cb371; /* Green color when checked */
}

.completed-checkbox:checked::before {
  content: "\2714"; /* Unicode checkmark symbol */
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  text-align: center;
  font-family: 'Oswald', cursive;
  font-size: 20px;
  color: #333;
}

h1, h2, h3 {
  color: black;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
}
